@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    /* padding: 60px; */
    /* gap: 42px; */
}
form{
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 60px;
    width: 472px;
}

h1{
    font-family: "Inter";
    margin-bottom: 30px;
}



input, textarea {
    /* height: 40px; */
    width: 100%;
    border: 1px solid rgba(66, 80, 102, 0.4);
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px #4250661A;
    padding: 12px;
    resize: none;
    /* font-family: "Roboto", */
    /* border-left: none; */
}


select {
    width: 100%;
    border: 1px solid rgba(66, 80, 102, 0.4);
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px #4250661A;
    padding: 11px;
    /* border-right: none; */
}

input[type="radio"]{
    width: auto;
    height: auto;
    box-shadow: none;
    padding: 0;
}

.FUll_Name{
    display: flex;
    margin-top: 6px;
    margin-bottom: 10px;
    gap: 10px;
    
}


/* select{
    height: 40px;
    width: 100%;
    border: 1px solid rgba(66, 80, 102, 0.4);
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px #4250661A;
    padding: 0px 12px;
    margin-top: 6px;
} */

.radio{
    display: flex;
    align-items: center;
    margin: 32px 0;
    gap: 7px;
}

#radio-2{
    margin-left: 32px;
}


.Company_information{
    margin-top: 6px;
    margin-bottom: 10px;
}

.Describe{
    margin-top: 6px;
    /* width: 352px;
    height: 104px; */
    margin-bottom: 32px;
}

.Phone_number{
    display: flex;
    align-items: center;
    justify-content: center;
}
#code-numb {
    width: 28%;
}
#number {
    /* width: 80%; */
}



.Credit_card_information{
    margin-top: 6px;
    margin-bottom: 32px;   
    /* width: 100%; */
    /* border: 1px solid rgba(66, 80, 102, 0.4); */
    border-radius: 5px;
    /* box-shadow: 0px 2px 4px 0px #4250661A; */
    padding: 12px;
    /* resize: none; */
}


.checkbox{
    display: flex;
    align-items: center;
    margin: 32px 0;
    gap: 50px;
}




button{
    background-color: rgb(159, 159, 196);
    border-radius: 5px;
    width: 50%;
    font-family: "Inter";
}